<div class="s01">
    <form #nossoForm="ngForm">
      <fieldset>
        <legend style="color:rgb(9, 70, 9);">Mischief Managed</legend>
      </fieldset>
      <div class="inner-form">
        <div class="input-field first-wrap">
          <input id="search" type="text" placeholder=" Voce procura uma  imagem?"name="termo" [(ngModel)]="termo"  />
        </div>
        <div class="input-field third-wrap">
          <button class="btn-search" type="submit" routerLink='imagen'>Buscar</button>
        </div>
      </div>
    </form>
  </div>
  